@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: #1F2937;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 600;
  }

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none
}

ul {
    display: flex;
    margin: 0 10px 0 0;
    padding: 0;
    gap: 25px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.left {
    margin-left: 100px;
}

.right {
    margin-right: 100px;
}

/* HERO */

.hero {
    background-color: #1F2937;
    color: white;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.hero-text {
    flex: 2;
}

.social-logos {
    width: 400px;
    height: 170px;
    flex: 2;
    margin-top: 0px;
}

.spaceleft, .spaceright {
    flex: 1;
}

/* BUTTON */

.button {
    display: inline-block;
    border-radius: 6px;
    background-color: #1DA1F2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    /* transition: all 0.5s; */
    cursor: pointer;
    font-weight: bold;
  }

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -18px;
    transition: 0.5s;
}

.button:hover span {
padding-right: 18px;
}

.button:hover {
    background-color: #61b9f0;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

/* IMAGES */
/* Image colour: #3464A0 */

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 160px;
    padding-left: 120px;
    padding-right: 120px;
  }
  
.images .text {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 80px;
}

img {
    margin-top: 80px;
    width: 200px;
    height: 160px;
    justify-content: center;
}

.one, .two, .three, .four {

    max-width: 400px;
    justify-content: center;

} 

/* CALLOUT */

.callout {
    background-color: rgb(228, 228, 228);
    padding: 100px 150px;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}


.quote {
    display: flex;
    font-style: italic;
    color: rgb(102, 102, 102);
}

.name {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

h4, .name {
    flex: 1;
}

/* SIGNUP */

.signup {
    background-color: white;
    margin: 50px 150px;
    justify-content: space-between;
    align-items: center;
}

.card {
    padding: 30px;
    border-radius: 15px;
    background-color: #1F2937;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container button {
    height: 60px;
    width: 120px;
    font-size: 16px;
}